@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$main-font-stack: 'Quicksand', sans-serif;

$primary-dark-font-color: #2c3e50;

$primary-light-font-color: white;

$main-colour: #3a8bbb;

$background-color: #f4f4f4;